.container{
    margin:0px;
    padding: 20px;
    background-color: white;
    border-radius: 0px;
    height: auto;
    font-style: normal;
}
p{
    font-style: normal;
}
.dashboard{
    color: #5440ec;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.accountinfos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: normal;
}

.accountdetails{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    font-style: normal;

}

.tokens{
    height: 15vh;
    font-style: normal;
    width: 50%;
    align-items: center;
    font-style: normal;
}


.tokenAmount{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-style: normal;
    background-color: white;
    box-shadow: 0px 0px 10px 1px  #5440ec;
    border-radius: 100px;
    font-size: 5vh;
    font-style: normal;
    width: 200px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tokenAmountPlaceholder{
    display: flex;
    font-style: normal;
    justify-content: center;
    font-style: normal;
}
.tokensText{
    display: flex;
    justify-content: center;
    font-size: 2vh;
    font-style: normal;
    font-style: normal;
}

p{
    font-style: normal;
}



.logOut{
  text-align: center;
  align-self: center;
  width: 50%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 5px;
  margin-right: 20px;
  border-style: solid;
  border-color:transparent;
  box-shadow: 0px 0px 10px 1px #403b60;
  padding: 10px;
  font-size: 15px;
  background-color: white;
  color:black;
}
.button:hover{
    cursor: pointer;
    background-color:rgb(218, 217, 217);
}
.savedSetsText{
  text-align: left;
  align-self: flex-start;
  font-size: 4vh;
  font-weight: bold;
  color: #5440ec;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: Arial, sans-serif;
  color: #444;
  border-radius: 10px;

}

thead {
  background-color: #5440ec;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

th {
  padding: 16px;
  text-align: left;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

tr {
  margin-bottom:10px;
  overflow: hidden;
  border-radius:px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


td {
  padding: 16px;
}

tr.no-sets td {
  text-align: center;
  font-style: italic;
  color: #999;
}
.buttonSavedSet, .button{
  width: 95%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  border-radius: 5px;
  margin-right: 20px;
  border-style: solid;
  border-color:transparent;
  box-shadow: 0px 0px 10px 1px #403b60;
  padding: 10px;
  font-size: 15px;
  background-color: white;
  color:black;
}
.buttonSavedSet:hover{
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .container{
    margin:0px;
    padding: 20px;
    background-color: white;
    border-radius: 0px;
    height: auto;
    font-style: normal;
}
  .accountinfos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-style: normal;
}
  th, td {
    padding: 2px;
  }
  
  th:first-child, td:first-child {
    padding-left: 10px;
  }

  th:second-child{
    display: none;
  }
  
  th:last-child, td:last-child {
    padding-right: 10px;
  }
}

.tableContainer{
  height: 80vh;
  overflow-y: scroll;
}

.vline{
  height: 80vh;
  background-color: rgb(0, 0, 0);
  width: 1.45px;
  margin-right: 50px;
}